{%extends "crudapp/base.html"%}

{%block content%}

  <p>People</p>

  <ul>
    {%for person in  persons%}
        <li>
           <a style="text-decoration:none", href={% url 'crudapp:person' %}>{{person}}</a> 
        </li>        
    {%empty%}
        <li>No name added</li>
    {%endfor%}  
  </ul>
  
  <form action= {% url 'crudapp:new_person' %} method="post">
    {%csrf_token%}
    {{form.as_p }}
    <input label="good", value="Add person">
    <button type="submit">Add a new person</button>
    
  </form>
  
{%endblock content%}

