{%extends 'crudapp/base.html'%}

{%block content%}
  
    <p>Name: {{person}}</p>h

    <p>Details: </p>
    {%if person.details%}

    <p>{{person.details}}</p>
    {%else%}

      <p> No details available for this person </p>
    {%endif%}
    
    <h3>Update Person</h3>

    <form  action ={% url 'crudapp:update_person'  person.id%} method="post">
        {%csrf_token%}
        {{form.as_p}}
        
        <button type="submit">Update Person</button>
    </form> 
  




    <h2>Delete Person</h2>

    <form  action ={% url 'crudapp:delete_person' person.id %}  method="post">
        {%csrf_token%}
        {%comment%}{{form.as_p}}{%endcomment%}
        <button type="submit">Delete Person</button>
    </form>
    <h2>Create New Person</h2>
    
    <form action ={% url 'crudapp:new_person'  %} method="post">
        {% csrf_token%}
        {{form.as_p}}
    
        <button name="Submit">Create new Person</button>
    </form>
{%endblock content%}

